<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<title>Solution Advisor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta "description" content="An interactive getting started guide for Edge Code CC.">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/jquery.modal.css">
	<link rel="stylesheet" href="static/css/icon.css"> 
 	<link rel="stylesheet" href="static/css/3.3.7/bootstrap.min.css">
	<script	src="static/js/main.js"></script>
	<script	src="static/js/lib/jquery-2.1.4.js"></script>
	<script	src="static/js/lib/jquery-2.1.4.min.js"></script>
	<script	src="static/js/jquery.modal.js"></script>	
 	<script	src="static/js/close.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	<script src="static/js/3.3.7/bootstrap.min.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style type="text/css">
   .select-editable1 {
     position:relative;
     background-color:white;
    /*  border:solid grey 1px; */
     border:none;
     width:120px;
     height:18px;
 }
 .select-editable2 {
     position:relative;
     background-color:white;
    /*  border:solid grey 1px; */
     border:none;
     width:120px;
     height:18px;
 }
 .select-editable3 {
     position:relative;
     background-color:white;
    /*  border:solid grey 1px; */
     border:none;
     width:120px;
     height:18px;
 }
 .select-editable1 select {
     position:absolute;
     top:0px;
     left:0px;
     border-style: solid;
     width:240px;
     margin:0;
 }
  .select-editable2 select {
     position:absolute;
     top:0px;
     left:0px;
     border-style: solid;
     width:198px;
     margin:0;
 }
  .select-editable3 select {
     position:absolute;
     top:0px;
     left:0px;
     border-style: solid;
     width:169px;
     margin:0;
 }
 .select-editable1 input {
     position:absolute;
     top:1px;
     left:3px;
     width:217px;
     padding:1px;
     font-size:12px;
     /* border-style: solid; */
     border:none;
 }
 .select-editable2 input {
     position:absolute;
     top:1px;
     left:3px;
     width:173px;
     padding:1px;
     font-size:12px;
     /* border-style: solid; */
     border:none;
 }
 .select-editable3 input {
     position:absolute;
     top:1px;
     left:3px;
     width:146px;
     padding:1px;
     font-size:12px;
     /* border-style: solid; */
     border:none;
 }
 
 .select-editable select:focus, .select-editable input:focus {
     outline:none;
 }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
    
	.table-title .add-new i {
		margin-right: 7px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #B2B2B2;
    } 
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 1px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
        padding: 6px 8px;
        font-family: sans-serif;
        font-style: italic;
        font-size: 12px;
        color: #6a858c;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}
	
	.btn-color{
		color:#fff;
		background-color:#005eb5;
		border-color:#2e6da4;
		padding: 6px 20px;
		font-size: 15px;
	}
	th {
	    background-color: #C5C3C3;
	 } 
	
	
</style>
	 
<script type="text/javascript">
var timeCount = 10000;

function isProperValue(val){
	
	var temp = ""+val;
	if(temp.length > 1 && temp.indexOf("0") == 0 ){
		return false;
	}
	
	return ($.isNumeric(val) && (val >= 0) && (Math.floor(val) == val));
}

/* var jsonArr = { 
				"perfPercent":0, 
				"entries": [],
				"adapters": []
			}; */
var jsonArr = { entries: []};
function validate() {
	if ($("tr[id^='row']").length  == 0 ){
		alert("Please provide atleast one service combination.");
		return false;
	}
	
	if ($('#amsyears').val()==0){
		alert("Please select AMS years.");
		return false;
	}
	
/* 	if ($('#transitions').val()==0){
		alert("Please select transitions .");
		return false;
	} */
	
	var allGood = false;
	
	//gather all records & make a json out of them
	$( "tr[id^='row']" ).each(function( index, element ) {
		var workstream = $(this).find('td:eq(0)').text()
		var skill = $(this).find('td:eq(1)').text()
		var noOfIncidents = $(this).find('td:eq(2)').text()
		
		allGood = isProperValue(noOfIncidents) ;
		if(!allGood){
			return false;
		}
		var obj = {workstream:" ",skill:" ",noOfIncidents:"0"};
		obj.workstream = workstream;
		obj.skill = skill;
		obj.noOfIncidents = noOfIncidents;
		obj.indusId = $("#indusId").val();

		
		jsonArr.entries[index] = obj;  
	});

	if(allGood){
		document.getElementById("amsValJson").value = JSON.stringify(jsonArr);
		window.scrollTo(0, 0);
		$(".showmodal").show();
		checkSaveStatus(0);
		return true;		
	} else{
		alert("Please provide proper values ");
		return false;
	}		
}

function setLoad(){
	//consol.log(window.pageYOffset +" "+window.pageXOffset);
	if($(".showmodal").css("display") != 'none'){
		$(".showmodal").css("top",window.pageYOffset);
	}
}

function checkSaveStatus(count){
	//alert($('#serviceURL').val()+'/download/query?solId='+$('#solId').val()+'&solAreaId='+$('#solAreaId').val());
	var values = new Array();
	
	
	setTimeout(function() {
		$.ajaxSetup({async: false});
		$.post("/checkSaveStatus",
				{
					solId:$('#solId').val(),
					solAreaId:$('#currentSolAreaId').val(), 
					testSolId:$("#testSolId").val(),
					enbTestBtn:values.length
				}, 
				function(data, status){
					//alert("Data: " + data + "\nStatus: " + status);
					if(data!="Error: connect ECONNREFUSED"){
						
						if(data=="No"){
							 if(count > 0){
								 //$('a#advisorHome').click();
								  console.log("data is NO and now dashboard");
								 var addr= (window.location.href).split('/');	        		 
								 window.location.href = addr[0]+"//"+addr[2]+"/dashboard";
							 }else{
								 console.log("data is NO and count <0");
								$("#waitImg").hide();
								$(".center").css("width","350px");
								$("#waiText").show();
								count++;
								setTimeout(function() {
									checkSaveStatus(1);
								},timeCount);
							}
						}else{
							//$("#waiText").hide();
							//$(".showmodal").hide();
							console.log("data is YES and now gotoSolutionsDetails");
							document.getElementById("saveSolution").action = "/gotoSolutionDetails";
							if(document.getElementById("testSolId").value == 'Y'){
								document.getElementById("enbTestBtn").value = 1;
							} else{
								document.getElementById("enbTestBtn").value = 0;
							}
							document.getElementById("saveSolution").submit();
							/* $.post("/gotoSolutionDetails",{solId:$('#solId').val(),enbTestBtn:values.length}, function(data, status){
								
							}); */
						}
					}else{
						console.log("data can be Error: connect ECONNREFUSED");
						$("#waitImg").hide();
						$(".center").css("width","350px");
						$("#waiText").hide();
						$("#downText").show();
						setTimeout(function() {
							$("#downText").hide();
							$(".showmodal").hide();
						},3000);
					}
				}
		);
		$.ajaxSetup({async: true});
	},timeCount);
	
}

function setAmsFormData() {
	 var amsyears = parseInt($("#amsyears option:selected").val());
	// console.log("while setting ams years "+amsyears +typeof amsyears);
	//Flow from 
	{% if defaultValues != null %}
		 document.getElementById("serviceReq").defaultValue = "{{defaultValues[0].service_request}}";
		 document.getElementById("transitions").defaultValue = "{{defaultValues[0].transition_months}}";
		 document.getElementById("minorEnhancement").defaultValue = "{{defaultValues[0].minor_enhancement}}";
		 var prodObj={
				 prod1:"{{defaultValues[0].prod_yr1}}",
				 prod2:"{{defaultValues[0].prod_yr2}}",
				 prod3:"{{defaultValues[0].prod_yr3}}",
				 prod4:"{{defaultValues[0].prod_yr4}}",
				 prod5:"{{defaultValues[0].prod_yr5}}",
			
		 }
		 const prodObjArr = Object.values(prodObj);
		 var i=1;
		 for (var key in prodObj) {
			 if(i>amsyears){
				break;
			 }
			 document.getElementById("productivityPercent"+i).defaultValue = prodObj[key];
			 i++;
		}
		/* document.getElementById("productivityPercent1").defaultValue = "{{defaultValues[0].prod_yr1}}";
		document.getElementById("productivityPercent2").defaultValue = "{{defaultValues[0].prod_yr2}}";
		document.getElementById("productivityPercent3").defaultValue = "{{defaultValues[0].prod_yr3}}";
		document.getElementById("productivityPercent4").defaultValue = "{{defaultValues[0].prod_yr4}}";
		document.getElementById("productivityPercent5").defaultValue = "{{defaultValues[0].prod_yr5}}"; */
		document.getElementById("nonTicketingActPercent").defaultValue = "{{defaultValues[0].non_ticket_percent}}";
	 
	{% endif %}
	
	
	
}

var choicesjson = {};
var middlewares = {};

$(document).ready(function(){
	
	//beg
	populateAMSYears();
	var buttonState="new";

	//temp hiding 
	/* $('#app_admin_row').hide();
	$('#batch_release_row').hide();
	$('#prev_maint_row').hide();
	$('#standy_buffer_row').hide();
	$('#cross_skill_row').hide();
	$('#testing_row').hide();	 */
	//$('#serviceReq_row').hide();
	$('#transitions_row').hide();
	
	$('[data-toggle="tooltip"]').tooltip();
	var actions = $("table#workTable td:last-child").html();
	// Append table with add row form on add new button click
    $(".add-new").click(function(){
		$(this).attr("disabled", "disabled");
		$("#submit-form").prop("disabled", true);
		buttonState = "add-new";
		var index = $("table#workTable tbody tr:last-child").index();
		var currentIndex=index+1;
		console.log("currentIndex--- "+currentIndex);
		
		var row = '<tr id="row'+currentIndex+'">' +
         '<td ><select class="form-control" id="workstream-'+currentIndex+'" onChange="updateSelectionUsing1('+currentIndex+')"></td>'+
		 '<td ><select class="form-control" id="skills-'+currentIndex+'" onChange="updateSelectionUsing2('+currentIndex+')"></td>'+
		 '<td class="text-left"><input  class="form-control" style="line-height:30px;width:100%;" type="number" min="0" max="200"  id="no-of-incidents-'+currentIndex+'" "si-complex" value="" ></td>'+
         '<td class="text-center" id="action-'+currentIndex+'">'+
         	'<a class="add"  id="add" title="Add" data-toggle="tooltip"><i class="material-icons">check</i></a>'+
         	'<a class="edit" id="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">build</i></a>'+
         	'<a class="delete" id="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>' +
         '</tr>';
        
       	$("table#workTable").append(row);	
    	$("table#workTable tbody tr").eq(index + 1).find(".add, .edit").toggle();
        $('[data-toggle="tooltip"]').tooltip();
        $("#help"+currentIndex).attr("disabled", "disabled");
        loadNewRow(currentIndex);
       
     });
	
    $(".editableBox").change(function(){         
        $(".timeTextBox").val($(".editableBox option:selected").html());
    });
	// Add row on add button click
	$(document).on("click", ".add", function(){
		var emptyInput = false, emptySelect=false;
		var selectedVal=[];
		
		var currentIndex=$(this).parents("tr").attr('id').slice(3);
		var system1Id=$(this).parents("tr").find("td:eq(0)").attr('id');
	    var system2Id=$(this).parents("tr").find("td:eq(1)").attr('id');
	   
	    
	    var existingKey=system1Id+system2Id;
	    console.log("existing key "+existingKey);
	 	
		var input = $(this).parents("tr").find('input[type="number"]');
		//var inputSelect = $(this).parents("tr").find("td:eq(2)").find('select');
		var inputSelect = $(this).parents("tr").find('select');
				
		input.each(function(){
				if(!$(this).val()){
				$(this).addClass("error");
				emptyInput = true;
			} else{
                $(this).removeClass("error");
             }
		});
        	 	
      
		inputSelect.each(function(){
			if(!$(this).val()){
				$(this).addClass("error");
				emptySelect = true;
			} else{
				 selectedVal.push($(this).find('option:selected').val());
				 $(this).removeClass("error");
              }
		}); 
		
	    //checking in combination already exist of not
	     var key =selectedVal[0];
	     for(sel = 1; sel<selectedVal.length; sel++){
	    	  key+=selectedVal[sel];
	      }
	    console.log("current row new key "+key+ " buttonstate "+buttonState);
		var obj = entryList[key];
		if(!emptySelect && !emptyInput){
			if(buttonState=="add-new" ){
					if(obj == undefined){
					   		entryList[key]=10;
					   } 
					else{
							alert("Given combination has already been added");
					   		return;
						}
				}
			else if(buttonState="edit"){
					if(obj == undefined){
				   		entryList[key]=10;
				   	} 
					else{
						delete entryList[existingKey];
						if(entryList[key]==undefined){
				   			entryList[key]=10;
				   		}
				   		else{
				   			alert("Given combination has already been added");
					   		return;
				   		}
					}
				}
		
			$(this).parents("tr").find(".error").first().focus();
			
			input.each(function(){
					$(this).parent("td").html($(this).val());
				});	
				
			inputSelect.each(function(){
					var selectedVal=$(this).find('option:selected').val();
					$(this).parent("td").attr('id', selectedVal);
					$(this).parent("td").html($(this).find('option:selected').text());
				});
			$(this).parents("tr").find(".add, .edit").toggle();
			$(".add-new").removeAttr("disabled");
			$("#submit-form").prop("disabled", false);
		}
		//updatePerfEntries();
		
    });
	
	// Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
		$(".add-new").removeAttr("disabled");
		var currentIndex= $(this).attr('id').slice(3);
		var system1Id=$(this).parents("tr").find("td:eq(0)").attr('id');
	    var system2Id=$(this).parents("tr").find("td:eq(1)").attr('id');
	 	var key = system1Id + system2Id  ;
		delete entryList[key];
		//updatePerfEntries();
		$("#submit-form").prop("disabled", false);
    });
	//end
	
	// Edit row on edit button click
	$(document).on("click",".edit", function(){
		buttonState = "edit";
		$("#submit-form").prop("disabled", true);
		var currentIndex= $(this).parents("tr").attr('id').slice(3);
		console.log("current Index in edit "+currentIndex);
		var selectedVal1=$(this).parents("tr").find("td:eq(0)").text();
	    var selectedVal2=$(this).parents("tr").find("td:eq(1)").text();
	    var selectedVal3=$(this).parents("tr").find("td:eq(2)").text();
	    	       
        $(this).parents("tr").find("td:not(:last-child)").each(function(){
         
	       $(this).parents("tr").find("td:eq(0)").html('<select class="form-control" id="workstream-'+currentIndex+'" onChange="updateSelectionUsing1('+currentIndex+')">');
	       $(this).parents("tr").find("td:eq(1)").html('<select class="form-control" id="skills-'+currentIndex+'" onChange="updateSelectionUsing2('+currentIndex+')">');
	       $(this).parents("tr").find("td:eq(2)").html('<input  class="form-control" style="line-height:30px;width:100%;" id="no-of-incidents-'+currentIndex+'"type="number" min="0" max="200" value="'+$(this).text()+'">');
	    });	
      
        loadNewRow(currentIndex);
      //  $("#workstream-"+currentIndex).text($(this).parents("tr").find("td:eq(0)").attr('id'));
        
    	//$("#skills-"+currentIndex).text($(this).parents("tr").find("td:eq(1)").attr('id'));
    	        
    	$("#no-of-incidents-"+currentIndex).text(selectedVal3);
    	$("#no-of-incidents-"+currentIndex).val(selectedVal3);
    	
    	
    	$(this).parents("tr").find(".add, .edit").toggle();
		$(".add-new").attr("disabled", "disabled");
				
    });
	$(document).on("click", ".help", function(){
		var url=$(this).attr("href");
		window.open(url,"popup" , "width=800,height=600,scrollbars=yes,toolbar=no, menubar=no");
		return false;
	});

	
	$.ajaxSetup({async: false});
	$.ajax({url: "/getAMSWorkstreamDetail", success: function(data) {
			//alert("data==="+data);
			choicesjson = data;
		}
	});
	
		
	//populate global var with keys for pre entered entries	
	$( "tr[id^='row']" ).each(function( index, element ) {
		var index=$(this).attr('id').slice(3);
		var system1Id=$(this).find('td:eq(0)').attr('id'); 
	    var system2Id=$(this).find('td:eq(1)').attr('id');
	   
	    var key = system1Id + system2Id  ;
		var obj = entryList[key];
		if(obj == undefined){
			entryList[key]=10;
		}
	});
	//updatePerfEntries();
	setAmsFormData();
	{% if defaultValues==null %}
		$("#addingNew").trigger("click");
		for(var i=1;i<=5;i++){
			$( "input[id^='productivityPercent"+i+"']").attr('disabled','disabled');
		}
	{% endif %}
	 
	
	
	//commenting the logic to enable/disable input based on no of ams years due to introduction of AMS Prod Calculator
		//setting productivityPercent
		//loadProductivityPercentTable();
	
		/* $("#amsyears").change(function(){
			var newAmsYear=Number($('#amsyears :selected').text());
			if(newAmsYear >0){
				for(var i=1;i<=newAmsYear;i++){
					$( "input[id^='productivityPercent"+i+"']").removeAttr('disabled');
				}
				for(var i=newAmsYear+1;i<=5;i++){
					$( "input[id^='productivityPercent"+i+"']").attr('disabled','disabled');
				}
			}
			else{
				for(var i=1;i<=5;i++){
					$( "input[id^='productivityPercent"+i+"']").attr('disabled','disabled');
				}
			}
			
		
		});	 */
		getStartWeek();
	//getStartDateAndWeek();
	disableProductivityPercentTable();
	//initSSStartDate();
	
});//end of ready

function getStartWeek(){
	$.ajax({
			url : '/getStartWeek',
		    type : 'GET',
		    data : {
		    	'solId':$('#solId').val(),
		    	'solAreaId':$('#SOL_AREA_ID').val()
		    },
		    dataType:'json',
		    success : function(data) {              
		        console.log('DataS: '+data[0].startWeek);
		        $("#startWeek").val(data[0].startWeek);
		        $("#range_weight_disp").text(data[0].startWeek);
		    },
		    error : function(request,error)
		    {
		    	console.log('DataE: '+JSON.stringify(data));
		    }
		});
	  
} 

function getWorkstream(){
	var indexes =[];
	var selected =[];
	
	for(var i=0;i<choicesjson.length;i++){
		if(indexes.indexOf(choicesjson[i].workstream) == -1){
			indexes.push(choicesjson[i].workstream);
			selected.push(choicesjson[i]);
		} else{
			//do nthg
		}
	}
	return selected;
	
	
}

function getTechArea(currentIndex){
	
	//var x1=document.getElementById("System-1-Options-"+currentIndex);
	//var val1 = x1.options[x1.selectedIndex].value;
	
	var x1=document.getElementById("workstream-"+currentIndex);
	console.log(" x1 "+ x1);
	var val1 = x1.options[x1.selectedIndex].value;
		
	console.log(" workstream "+ val1);
	var temp = choicesjson.filter(function (val) {
				  return val.workstream==val1;
			  });
	var indexes =[];
	var selected =[];
	for(var i=0;i<temp.length;i++){
		if(indexes.indexOf(temp[i].tech_area) == -1){
			indexes.push(temp[i].tech_area);
			selected.push(temp[i]);
		} else{
			//do nthg
			
		}
	}
	return selected;
}

function toggleCheck(elm){
	if(elm.checked){
		$(elm).parent().parent().find('.testCheckBox').removeAttr("disabled");
	}else{
		$(elm).parent().parent().find('.testCheckBox').prop("checked", false);		
		$(elm).parent().parent().find('.testCheckBox').attr("disabled", true);		
	}
	if(false == $(elm).prop("checked")){ //if this item is unchecked
        $("#selectAllLOB").prop('checked', $(elm).prop("checked")); //change "select all" checked status to false
    }
}

function loadNewRow(currentIndex){
	var dropdown1 = $('#workstream-'+currentIndex);
	var selectedVal1=dropdown1.parents("td").attr('id');
	dropdown1.empty();
 	var option1 = $("<option/>");
 	option1.attr("value", "").text("Select");
 	dropdown1.append(option1);
 	
 	var results1 = getWorkstream();
 	for(var i=0;i<results1.length;i++){
 		if (selectedVal1==results1[i].workstream){
 				option1 = $("<option selected/>");
 			   // $('#workstream-'+currentIndex).text(selectedVal1);
			}
 		  
		else
	 		option1 = $("<option/>");
	 	option1.attr("value",results1[i].workstream).text( results1[i].workstream);
	 	
	 	dropdown1.append(option1);		
	 }
 	
 	var dropdown2 = $('#skills-'+currentIndex);
	var selectedVal2=dropdown2.parents("td").attr('id');
 	dropdown2.empty();
 	var option2 = $("<option/>");
 	option2.attr("value", "").text("Select");
 	dropdown2.append(option2);
 	
 	var results2 = getTechArea(currentIndex);
 	for(var i=0;i<results2.length;i++){
 		if (selectedVal2==results2[i].tech_area){
 			option2 = $("<option selected/>");
 			$('#System-2-input-'+currentIndex).text(selectedVal2);
 		}
		else
 			option2 = $("<option/>");
 		option2.attr("value",results2[i].tech_area).text( results2[i].tech_area);
 		dropdown2.append(option2);		
 	}
 	
 	
  }
/* 
function getSavedValue(sol_id, sol_area_id, subcategory_Id){
		$.ajaxSetup({async: false});
		$.get("/getSIUsecaseVal",
				{
					solId:sol_id,
					solAreaId:sol_area_id, 
					subcategoryId:subcategory_Id
				}, 
				function(data, status){
					//alert("Data: " + data + "\nStatus: " + status);
					return data;
				}
		);
		$.ajaxSetup({async: true});
}
 */

function populateAMSYears(){
	var numbers = [1, 2, 3, 4, 5];
	var option = $("<option/>");
	var amsyears = $('#amsyears');
	var selectionValue;
	amsyears.empty();
	option.attr("value", "0").text("-Select AMS Years-");
	amsyears.append(option);
	
	{% if defaultValues %}
		 selectionValue= {{defaultValues[0].num_ams_years}};
	{% endif %}
	
	for (var i=0;i<numbers.length;i++){
		if(selectionValue == numbers[i] )
			option = $("<option selected/>");
		else
			option = $("<option/>");

		option.attr("value", numbers[i]).text(numbers[i]);
		amsyears.append(option);
	   //option += '<option value="'+ numbers[i] + '">' + numbers[i] + '</option>';
	}
	
}
function updateSelectionUsing1(currentIndex){
	
	//based on what is selected in 1st dropdown populate other two dropdowns
	var results2 = getTechArea(currentIndex);
	var dropdown2 = $('#skills-'+currentIndex);
	dropdown2.empty();
	var option2 = $("<option/>");
	option2.attr("value", "").text("Select");
	dropdown2.append(option2);
	
	for(var i=0;i<results2.length;i++){
		var option = $("<option/>");
		option.attr("value",results2[i].tech_area).text( results2[i].tech_area);
		dropdown2.append(option);		
	}
}
function updateSelectionUsing2(currentIndex){
	console.log("system2 dropdown onchange");
	$('#System-2-input-'+currentIndex).val($('#skills-'+currentIndex).find('option:selected').text()); 
	$('#System-2-input-'+currentIndex).text($('#skills-'+currentIndex).val()); 
}
function updateInputUsing1(currentIndex){
	//$('#System-2-input-'+currentIndex).val($('#skills-'+currentIndex).find('option:selected').text()); 
	$('#workstream-'+currentIndex).text(""); 
}
function updateInputUsing2(currentIndex){
	console.log("system2 input onchange");
	//$('#System-2-input-'+currentIndex).val($('#skills-'+currentIndex).find('option:selected').text()); 
	$('#skills-'+currentIndex).text(""); 
}

function loadProductivityPercentTable(){
	var amsyears=0;
	{% if defaultValues!=null %}
		amsyears= Number({{defaultValues[0].num_ams_years}});
		if(amsyears>0){
			for(var i=amsyears+1;i<=5;i++){
				$( "input[id^='productivityPercent"+i+"']").attr('disabled','disabled');
			}
		}
		else{
			for(var i=1;i<=5;i++){
				$( "input[id^='productivityPercent"+i+"']").attr('disabled','disabled');
			}
		}
			
	{% endif %}
	
}

function disableProductivityPercentTable(){
	var amsyears=5;
	
	for(var i=1;i<=5;i++){
	 $('#productivityPercent'+i).attr('disabled','disabled');
	}
}

//var ss_start_date = new Date(new Date().getTime()+1000*60*60*24*weekOffset*7);
var ss_start_date = new Date();

function getAMSSSStartDate(){
	$.ajax({
			url : '/getAMSSSStartDate',
		    type : 'GET',
		    data : {
		    	'solId':$('#solId').val(),
		    	'solAreaId':$('#SOL_AREA_ID').val()
		    },
		    dataType:'json',
		    success : function(data) {              
		        console.log('DataS: '+data[0].startWeek);
				console.log('ss_start_date: '+data[0].ss_start_date);
				ss_start_date = data[0].ss_start_date;
		    },
		    error : function(request,error)
		    {
		    	console.log('DataE: '+JSON.stringify(data));
		    }
		});
	  
}

function getStartDateAndWeek(){
	$.ajax({
			url : '/getStartDateAndWeek',
		    type : 'GET',
		    data : {
		    	'solId':$('#solId').val(),
		    	'solAreaId':$('#SOL_AREA_ID').val()
		    },
		    dataType:'json',
		    success : function(data) {              
		        console.log('DataS: '+data[0].startWeek);
				console.log('ss_start_date: '+data[0].ss_start_date);
		        $("#startWeek").val(data[0].startWeek);
		        $("#range_weight_disp").text(data[0].startWeek);
				ss_start_date = data[0].ss_start_date;
		    },
		    error : function(request,error)
		    {
		    	console.log('DataE: '+JSON.stringify(data));
		    }
		});
	  
} 

var entryList = {}; 


function initSSStartDate(){
	alert("ss_start_date: " +ss_start_date);
	var start_date = new Date(new Date().getTime()+1000*60*60*24*weekOffset*7);
	alert("start_date: " +start_date);
    $( "#ssstartdate" ).datepicker({
			
	    dateFormat: 'dd-mm-yy',
		beforeShowDay: function(d) {
			return [d.getDay() == 1,"",""];
		}
	});

	$( "#ssstartdate" ).datepicker( 'option', 'minDate', start_date ).datepicker('refresh');	
}

</script>
  </head>
  <body class="mainInner" onscroll="setLoad()">
	<div class="divWidth">
		<div style="height:90px">
			<div class="LogDiv"><img src="/static/images/logo.png" style="padding-top:18px;"></div>
			<div class="NavDiv">
				<div class="nav">
					<ul>
						<li class="home"><a href="dashboard" id="advisorHome">Home</a></li>
						<li class="contact"><a href='mailto:kanwsing@in.ibm.com,jayant.sinha@ie.ibm.com,joypatra@in.ibm.com?subject=Solution%20Advisor%20Support%20Request'>Contact</a></li>
						<li class="logout"><a href="static/logout.html" id="btnLogout" rel="modal:open">Logout</a></li>
					</ul>
					<div class="SeaDiv">
						<div id="popUpButton" class="popupHoverElement mainOutPop">
							<img src="/static/images/search.jpg">
							<div id="two" class="popupBox">
							<form method="post" action="/searchOpportunity" id="search">
								<input type="text" value="" "searchOpportunity" id="searchOpportunity" required class="popInput placeholder-fix" style="width: 80%;margin-top: 5px;margin-left: 5px;" placeholder="Opportunity Name">
								<input type="submit" value="Search" class="popButton">
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="InnDiv" ></div>
<div class="container">
 <form method="post" id="saveSolution" action="/saveAMSInfo" onsubmit="return validate()"> 
<input type=hidden name="SL_ID" value="{{solAreaResult[0].sl_id}}">
	<input type=hidden id="solId" name="solId" value="{{solId}}">
	<input type=hidden id="SOL_AREA_ID" name="SOL_AREA_ID" value="{{solAreaResult[0].sol_area_id}}">
	<input type=hidden id="indusId" name="INDUS_ID" value="{{solAreaResult[0].indus_id}}">
	<input type=hidden name="useCaseInfoType" value="{{useCaseInfoType}}">
	<input type=hidden id="currentSolAreaId" name="currentSolAreaId" value="{{solAreaResult[0].sol_area_id}}">
	<input type=hidden id="testSolId" name="testSolId" value="{{testSolId}}" />
	<input type=hidden id="soakTestId" name="soakTestId" value="{{soakTestId}}" />
	<input type=hidden id="username" name="username" value="{{ user.emp_fname }} {{user.emp_lname}}" />

	<input type=hidden id="model" name="model" value="{{model}}" />
	<input type=hidden id="sprintWeeks" name="sprintWeeks" value="{{sprintWeeks}}" />
	<input type=hidden id="enbTestBtn" name="enbTestBtn" value="" />
	<input type=hidden id="isedit" name="isedit" value="{{isedit}}">
	<input type=hidden id="amsValJson" name="amsValJson" value="" />
	<!-- <input type=hidden id="defaultValues" name="defaultValues" value="{{defaultValues}}"> -->
	&nbsp;&nbsp;
	<div class="divWidth">
	<!-- <div class="loginInfo ">Hello {{ user.emp_fname }} {{user.emp_lname}}</div> -->
	<div class="loginInfo ">Hello {{ user.attributes.firstName }} {{user.attributes.lastName}}</div>
	
	<p>Capture your Use cases</p>
			<table width="100%" cellpadding="1" cellspacing="0" border="0">		
			<tr>
				<td colspan="4" class="tdmarg">Solution Details</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Solution Id:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solId}}</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Lead Service Line:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].sl_name}}</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Solution Area:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].sol_area_name}}</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Industry:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].indus_name}}</td>
			</tr>
			<tr>
				<td colspan="4" class="tdmarg"><font color="#000099"><b>{{solAreaResult[0].sol_area_name}}</b></font> in <font color="#000099"><b>{{solAreaResult[0].indus_name}}</b></font></td>
			</tr>
			<tr>
				<td colspan="4" class="tdLabel">&nbsp; [ This tool is recommended for small and medium deals not for large deals at the moment ]</td>
			</tr>
		{% if errorMessage %}
			<tr>
				<td colspan="4" class="tdErrorMsg">{{errorMessage}}</td>
			</tr>
		{% endif %}			

		</table>

 &nbsp;&nbsp; &nbsp;&nbsp;

<!--First Table -->
<!-- <div class="col-md-13">  -->
<div class="col-md-offset-1 col-md-10"> 
<table class="table">
	<tbody>
		<tr >
			<td style="border-top: none;" width="10%" ><strong>Contract Duration <span class="asteriskField"><font color="RED">*</font></span> :</strong></td>
			<td style="border-top: none;" width="15%"  class="text-left"> 
				<select style="line-height:34px;width:50%;" class="form-control" name="amsyears" id="amsyears" >
				</select>
			</td>
		</tr>
			
		<tr >
			<td style="border-top: none;" width="10%" ><strong>Steady State Start Date (atleast 10 Weeks ahead to account for Transition) <span class="asteriskField"><font color="RED">*</font></span> :</strong></td>
			<td style="border-top: none;" width="15%"  class="text-left"><input type="text" id="ssstartdate" name="ssstartdate" style='display:none'/></td>
		</tr>
		<tr id="productivityRow">
			<td style="border-top: none;" width="10%" class="text-left"><strong>YoY Productivity(%)<span class="asteriskField"><font color="RED">*</font></span></strong> </td>
			<td style="border-top: none;" width="15%"  class="text-left"> 
				<table id="productivityTable">
					<tr>
						<th> Year1</th>
						<th> Year2</th>
						<th> Year3</th>
						<th> Year4</th>
						<th> Year5</th>
					</tr>
					<tr>
						<td>
							<input name="productivityPercent1" id="productivityPercent1" class="form-control" type="number" min="0"  style="line-height:34px;" value="0">
						</td>
						<td>
							<input name="productivityPercent2" id="productivityPercent2" class="form-control" type="number" min="0"  style="line-height:34px;" value="0">
						</td>
						<td>
							<input name="productivityPercent3" id="productivityPercent3" class="form-control" type="number" min="0"  style="line-height:34px;" value="0">
						</td>
						<td>
							<input name="productivityPercent4" id="productivityPercent4" class="form-control" type="number" min="0"  style="line-height:34px;" value="0">
						</td>
						<td>
							<input name="productivityPercent5" id="productivityPercent5" class="form-control" type="number" min="0"  style="line-height:34px;" value="0">
						</td>
					</tr>
				</table>
		</td>
		
		</tr>
		 <tr>
			<td style="border-top: none;" width="10%" ></td>
			<td style="border-top: none;" width="15%"  class="text-left alert-info"> 
		 		<strong>Info!</strong> 
				<br>Productivity can only be applied for AMS > 2 years</br>
				<br>Productivity can be applied using productivity calculator once the ams solution has been created</br>
			</td>
		</tr> 
		<tr>
			<td style="border-top: none;" width="10%" class="text-left"><strong>Non-Ticketing activities(%)<span class="asteriskField"><font color="RED">*</font></span></strong> </td>
			<td style="border-top: none;" width="15%"  class="text-left"> 
					<input name="nonTicketingActPercent" type="number" id="nonTicketingActPercent" class="form-control" style="line-height:34px;width:50%;" value="10">
			</td>
		</tr>
		<tr id="serviceReq_row" >
			<td style="border-top: none;" width="10%" ><strong>Service Requests (no. per month)<span class="asteriskField"><font color="RED">*</font></span></strong></td>
			<td style="border-top: none;" width="15%" class="text-left"><input name="serviceReq"  id="serviceReq"  class="form-control" type="number" min="0"  style="line-height:34px;width:50%;" value="0">
			</td>
		</tr>
		<tr id="transitions_row">
			<td style="border-top: none;" width="10%" ><strong>Transitions (in month)<span class="asteriskField"><font color="RED">*</font></span></strong></td>
			<td style="border-top: none;" width="15%"  class="text-left"><input name="transitions" id="transitions" class="form-control" type="number" min="0" max="4" style="line-height:34px;width:50%;" value="0">
			</td>
		</tr> 
		<tr >
			<td style="border-top: none;" width="10%" ><strong>Minor Enhancements (no. per month)<span class="asteriskField"><font color="RED">*</font></span></strong></td>
			<td style="border-top: none;" width="15%"  class="text-left"><input name="minorEnhancement" id="minorEnhancement" class="form-control" type="number" min="0"  style="line-height:34px;width:50%;" value="0">
			</td>
		</tr> 
		<tr>
				<td style="border-top: none;" width="10%" class="text-left"><strong>Steady State Start Week<span class="asteriskField"><font color="RED">*</font></span></strong> </td>
				<td style="border-top: none;" width="15%"  class="text-left"> 
				<table id="startWeekTable">
				<tr>
					<td><input type="range" name="startWeek" id="startWeek" value="" min="1" max="100" style="line-height:34px;width:150%;" oninput="document.getElementById('range_weight_disp').innerHTML = startWeek.value"></td>
   					<td style="padding-left:120px;"><label id="range_weight_disp"></label> Week</td>
						
					</tr>
				</table>	
   				</td>
			</tr>
	</tbody> 
</table>
</div>




<!--Section for table  -->

 <div class="row" > 
  <div class="col-sm-10"> 
   	 <h3 style="text-transform: uppercase"><span class="text-primary">Select Appropriate Workstream and Skills Applicable</span></h3>
  	 <!-- <Strong style="text-transform: uppercase">Select Appropriate Workstream and Skills Applicable</Strong>  -->
   </div>
   <div class="col-sm-1" style="padding-bottom: 6px">
           <button type="button" class="btn btn-color add-new" id="addingNew" > Add </button>
    </div>
</div>
<hr style="height: 5px !important; border: 0 !important;	box-shadow: 0 5px 5px -5px #8c8b8b inset !important; margin-top:0px;">
<table class="table table-bordered order-list thead-light" id="workTable">
	<thead>
		
		<tr>
			<th  style="width:20%" >Workstream</th>
			<th  style="width:25%" >Skills/Platform</th>
			<th  style="width:18%" >Monthly Incidents</th>
			<th  style="width:12%" class="text-center" >Actions</th>  
					
		</tr>
	</thead>
	<tbody>
	{% if defaultValues  != null %}
	{% for ob in defaultValues %} 
	
	 <tr id="row{{loop.index0}}">
	 
			<td id="{{ob.workstream}}">{{ob.workstream}}</td>
			<td id="{{ob.tech_area}}">{{ob.tech_area}}</td>
			<td class="text-left">{{ob.tickets}}</td>
			
			<td class="text-center">
				<a class="add"  id="add" title="Add" data-toggle="tooltip"><i class="material-icons">check</i></a>
			 	<a class="edit"  id="edit"title="Edit" data-toggle="tooltip"><i class="material-icons">build</i></a>
				<a class="delete" id="delete"title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
				
            </td>
		
		</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
<div >

<table align="center" width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
			<td class="tdspace">
				&nbsp;&nbsp;
				<button name="submit-form" id="submit-form" class="bluebutton" >Submit</button>  
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="button" id="backButton" class="cancelbutton" value="Back" onclick="javascript:history.go(-1);">
			</td>
		</tr>
</table> 
</form> 

<div id="showmodalid" class="showmodal" style="display:none">
	<div class="center">
	    <span id="downText" style="font-weight: bolder;font-size: x-large;display: none;"><blink>The back-end service is down. Please try after sometime</blink></span>
	    <span id="waiText" style="font-weight: bolder;font-size: x-large;display: none;"><blink>We are saving your data...</blink></span>	    
	     <img id="waitImg" alt="" src="/static/images/loader.gif" />
   </div>
</div>
</body>
</html>
