<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<title>Solution Advisor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="An interactive getting started guide for Edge Code CC.">
	<link rel="stylesheet" href="static/css/style.css">
	<script	src="static/js/main.js"></script>
	<script	src="static/js/lib/jquery-2.1.4.js"></script>
	<script	src="static/js/lib/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="static/css/jquery.modal.css">
	<script	src="static/js/jquery.modal.js"></script>	
	<script	src="static/js/close.js"></script>
<script type="text/javascript">
var timeCount = 10000;

function isProperValue(val){
	
	var temp = ""+val;
	if(temp.length > 1 && temp.indexOf("0") == 0 ){
		return false;
	}
	
	return ($.isNumeric(val) && (val >= 0) && (Math.floor(val) == val) && (val <= 100));
}

function validate() {

	window.scrollTo(0, 0);
	$(".showmodal").show();
	checkSaveStatus(0);
	return true;
}

function setLoad(){
	//consol.log(window.pageYOffset +" "+window.pageXOffset);
	if($(".showmodal").css("display") != 'none'){
		$(".showmodal").css("top",window.pageYOffset);
	}
}

function checkSaveStatus(count){
	//alert($('#serviceURL').val()+'/download/query?solId='+$('#solId').val()+'&solAreaId='+$('#solAreaId').val());
	var values = new Array();
	$.each($("input[name='testFlagId']:checked"), function() {
  		values.push($(this).val());
	});
	
	setTimeout(function() {
		$.ajaxSetup({async: false});
		$.post("/checkSaveStatus",
				{
					solId:$('#solId').val(),
					solAreaId:$('#currentSolAreaId').val(), 
					testSolId:$("#testSolId").val(),
					enbTestBtn:values.length
				}, 
				function(data, status){
					//alert("Data: " + data + "\nStatus: " + status);
					if(data!="Error: connect ECONNREFUSED"){
					if(data=="No"){
						 if(count > 0){
							 //$('a#advisorHome').click();
							 var addr= (window.location.href).split('/');	        		 
							 window.location.href = addr[0]+"//"+addr[2]+"/dashboard";
						 }else{
						$("#waitImg").hide();
						$(".center").css("width","350px");
						$("#waiText").show();
						count++;
						setTimeout(function() {
							checkSaveStatus(1);
						},timeCount);
						}
					}else{
						//$("#waiText").hide();
						//$(".showmodal").hide();
						setTimeout(function() {
							document.getElementById("saveSolution").action = "/gotoSolutionDetails";
							if(document.getElementById("testSolId").value == 'Y'){
								document.getElementById("enbTestBtn").value = 1;
							} else{
								document.getElementById("enbTestBtn").value = 0;
							}
							
							document.getElementById("saveSolution").submit();
							/* $.post("/gotoSolutionDetails",{solId:$('#solId').val(),enbTestBtn:values.length}, function(data, status){
								
							}); */
						}, 10000);

					}
					}else{
						$("#waitImg").hide();
						$(".center").css("width","350px");
						$("#waiText").hide();
						$("#downText").show();
						setTimeout(function() {
							$("#downText").hide();
							$(".showmodal").hide();
						},3000);
					}
				}
		);
		$.ajaxSetup({async: true});
	},timeCount);
	
}

$(document).ready(function(){
	
});

</script>
  </head>
<body class="mainInner" onscroll="setLoad()">
	<div class="divWidth">
		<div style="height:90px">
			<div class="LogDiv"><img src="/static/images/logo.png" style="padding-top:18px;"></div>
			<div class="NavDiv">
				<div class="nav">
					<ul>
						<li class="home"><a href="dashboard" id="advisorHome">Home</a></li>
						<li class="contact"><a href='mailto:kanwsing@in.ibm.com,jayant.sinha@ie.ibm.com,joypatra@in.ibm.com?subject=Solution%20Advisor%20Support%20Request'>Contact</a></li>
						<li class="logout"><a href="static/logout.html" id="btnLogout" rel="modal:open">Logout</a></li>
					</ul>
					<div class="SeaDiv">
						<div id="popUpButton" class="popupHoverElement mainOutPop">
							<img src="/static/images/search.jpg">
							<div id="two" class="popupBox">
							<form method="post" action="/searchOpportunity" id="search">
								<input type="text" value="" name="searchOpportunity" id="searchOpportunity" required class="popInput placeholder-fix" style="width: 80%;margin-top: 5px;margin-left: 5px;" placeholder="Opportunity Name">
								<input type="submit" value="Search" class="popButton">
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="InnDiv" ></div>
<div class="container">
<form method="post" id="saveSolution" action="/saveSolutionSIAdaptersInfo" onsubmit="return validate()">
	<input type=hidden name="SL_ID" value="{{solAreaResult[0].sl_id}}">
	<input type=hidden id="solId" name="solId" value="{{solId}}">
	<input type=hidden id="SOL_AREA_ID" name="SOL_AREA_ID" value="{{solAreaResult[0].sol_area_id}}">
	<input type=hidden id="indusId" name="INDUS_ID" value="{{solAreaResult[0].indus_id}}">
	<input type=hidden name="useCaseInfoType" value="{{useCaseInfoType}}">
	<input type=hidden id="currentSolAreaId" name="currentSolAreaId" value="{{solAreaResult[0].sol_area_id}}">
	<input type=hidden id="testSolId" name="testSolId" value="{{testSolId}}" />
	<input type=hidden id="soakTestId" name="soakTestId" value="{{soakTestId}}" />

	<input type=hidden id="model" name="model" value="{{model}}" />
	<input type=hidden id="sprintWeeks" name="sprintWeeks" value="{{sprintWeeks}}" />
	<input type=hidden id="enbTestBtn" name="enbTestBtn" value="" />
	<input type=hidden id="isedit" name="isedit" value="{{isedit}}">
	<input type=hidden id="siValJSON" name="siValJSON" value="" />
	<div class="divWidth">
	<div class="loginInfo ">Hello {{ user.attributes.firstName }} {{user.attributes.lastName}}</div>
	<p>Capture your Use cases</p>
			<table width="100%" cellpadding="1" cellspacing="0" border="0">		
			<tr>
				<td colspan="4" class="tdmarg">Solution Details</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Solution Id:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solId}}</td>
			</tr>
			<!-- <tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Lead Service Line:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].sl_name}}</td>
			</tr> -->
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Solution Area:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].sol_area_name}}</td>
			</tr>
			<tr>
				<td class="tdInputLabel">&nbsp;</td>
				<td class="tdInputLabel"><strong>Industry:</strong></td>
				<td class="tdInputLabel" colspan="2">{{solAreaResult[0].indus_name}}</td>
			</tr>
			<tr>
				<td colspan="4" class="tdmarg">Complexity Count for <font color="#000099"><b>{{solAreaResult[0].sol_area_name}}</b></font> in <font color="#000099"><b>{{solAreaResult[0].indus_name}}</b></font></td>
			</tr>
			<tr>
				<td colspan="4" class="tdLabel">&nbsp;</td>
			</tr>
		{% if errorMessage %}
			<tr>
				<td colspan="4" class="tdErrorMsg">{{errorMessage}}</td>
			</tr>
		{% endif %}			

		</table>
		
<div id="base">
<table align="center" width="100%" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td class="tdInputLabel" width="40%"><strong>Number of adapters with complexity - simple</strong>
				&nbsp;<sup><a href="/siadapters_complexity_def/1" 
					target="popup" 
					onclick="window.open('/siadapters_complexity_def/{{solAreaResult[0].sol_area_id}}','popup','width=800,height=600,scrollbars=yes,toolbar=no, menubar=no'); return false;">&quest;</a></sup>
			</td>		
			<td class="tdInputLabel" width="10%" align="center">
				<input type="number" min="0" max="20" name="scount" id="count-1" 
					{% if adapters.length > 0 %}
						value="{{ adapters[0].SIMPLE }}"
					{% else %}
						value="0"
					{% endif %}
					>
			</td>
			<td class="tdInputLabel" width="50%" align="center">&nbsp;</td>
		</tr>
		<tr>
			<td class="tdInputLabel" width="40%"><strong>Number of adapters with complexity - medium</strong>
				&nbsp;<sup><a href="/siadapters_complexity_def/{{solAreaResult[0].sol_area_id}}" 
					target="popup" 
					onclick="window.open('/siadapters_complexity_def/{{solAreaResult[0].sol_area_id}}','popup','width=800,height=600,scrollbars=yes,toolbar=no, menubar=no'); return false;">&quest;</a></sup>
			</td>		
			<td class="tdInputLabel" width="10%" align="center">
				<input type="number" min="0" max="20" name="mcount" id="count-2"
					{% if adapters.length > 0 %}
						value="{{ adapters[0].MEDIUM }}"
					{% else %}
						value="0"
					{% endif %}
				>
			</td>
			<td class="tdInputLabel" width="50%" align="center">&nbsp;</td>
		</tr>
		<tr>
			<td class="tdInputLabel" width="40%"><strong>Number of adapters with complexity - complex</strong>
				&nbsp;<sup><a href="/siadapters_complexity_def/{{solAreaResult[0].sol_area_id}}" 
					target="popup" 
					onclick="window.open('/siadapters_complexity_def/{{solAreaResult[0].sol_area_id}}','popup','width=800,height=600,scrollbars=yes,toolbar=no, menubar=no'); return false;">&quest;</a></sup>
			</td>		
			<td class="tdInputLabel" width="10%" align="center">
				<input type="number" min="0" max="20" name="ccount" id="count-3"
					{% if adapters.length > 0 %}
						value="{{ adapters[0].COMPLEX }}"
					{% else %}
						value="0"
					{% endif %}
				>
			</td>
			<td class="tdInputLabel" width="50%" align="center">&nbsp;</td>
		</tr>
	</tbody>
</table>

</div>

<table align="center" width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
				<td class="tdLabel" colspan="2">
					<input type="button" id="backButton" class="cancelbutton" value="Back" onclick="javascript:history.go(-1);">
				</td>
				<td class="tdLabel" colspan="2" style="padding-left: 28%;">
					<button class="bluebutton">Submit</button>					
				</td>
			</tr>
</table>
  </form>

	<div id="showmodalid" class="showmodal" style="display:none">
	
	    <div class="center">
	    <span id="downText" style="font-weight: bolder;font-size: x-large;display: none;"><blink>The back-end service is down. Please try after sometime</blink></span>
	    <span id="waiText" style="font-weight: bolder;font-size: x-large;display: none;"><blink>We are saving your data...</blink></span>	    
	        <img id="waitImg" alt="" src="/static/images/loader.gif" />
	    </div>
	    
	        
	</div>
      
  </body>
</html>
